/* angular material kit modification*/
.mat-button-toggle-checked {
    box-shadow: inset #6b6b6b 0px 0px 3px!important;
    background-color: #fff;
}
.cdk-focused,.cdk-mouse-focused{
    border: none;
    /* box-shadow: inset #6b6b6b 0px 0px 4px!important; */
}